<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Indriectr</title>

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="js/lockr.js"></script>
  <script src="js/vue.js"></script>

  <script src="js/app.js"></script>

</head>
<body id="app">
  <nav class="navbar">
    <div class="container">
      <a href="/" class="nav-header">Indirectr</a>
      <div class="nav-items">
        <a href="#about" class="nav-item">About</a>
        <a href="#new" class="nav-item">New</a>
      </div>
    </div>
  </nav>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <h2>Add an indirect</h2>
      <form class="row">
        <label for="content">Content: </label>
        <textarea class="u-full-width" id="content" type="text" placeholder="Content" v-model="editor.content"></textarea>
        <button class="button-primary" type="button" value="Submit" v-on:click="add()">Submit</button>
      </form>
    </div>

    <hr>

    <div class="row">
      <div class="indirects_list">

        <div class="indirect_item u-full-width u-cf" v-for="i in indirects" track-by="$index">
          <p class="u-pull-left">
            {{ i.content }}
          </p>
          <div class="u-pull-right">
            <button class="button" v-on:click="deleteIndirect(i)">Delete it</button>
            or
            <button class="button-primary" v-on:click="composeTweet(i.content)">Tweet it</button>
          </div>

        </div>

        <div v-if="indirects.length == 0">
          <p>Sorry, no indirects found.</p>
        </div>

      </div>
    </div>
  </div>


</body>
</html>